<div *ngIf='resultFound()'>
    <h1 class="center">Índice UV para {{currentWeather.name}}</h1>
    <mat-card *ngFor='let l of uv' class="mat-elevation-z18">
      <mat-card-header>
        <mat-card-title>
          <h2>{{l.date_iso | date:'dd/MM/yyyy H:mm:ss'}}</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <span>
              Índice UV : {{l.value}}
            </span>
          </mat-list-item>        
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf='!resultFound()'>
    <h1 class="center">{{msg || 'Falha ao carergar cidade.'}}</h1>
  </div>