<div *ngIf='resultFound()'>
    <h1 class="center">Previsão do Tempo para {{currentWeather.name}}</h1>
    <mat-card *ngFor='let l of forecast.list' class="mat-elevation-z18">
      <mat-card-header>
        <mat-card-title>
          <h2>{{l.dt*1000 | date:'dd/MM/yyyy H:mm:ss'}}</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table *ngIf='resultFound()'>
          <tbody>
            <tr>
              <td>Temperatura</td>
              <td>{{l.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C</td>
            </tr>
            <tr>
              <td>Temp. Minima</td>
              <td>{{l.main?.temp_min - 273.15 | number:'1.0-0'}}<sup>o</sup>C</td>
            </tr>
            <tr>
              <td>Temp. Maxima</td>
              <td>{{l.main?.temp_max - 273.15 | number:'1.0-0'}}<sup>o</sup>C</td>
            </tr>
            <tr>
              <td>Pressão do Ar</td>
              <td>{{l.main?.pressure | number:'1.0-0'}}mb</td>
            </tr>
            <tr>
              <td>Tabua de Mare</td>
              <td>{{l.main?.sea_level | number:'1.0-0'}}m</td>
            </tr>
            <tr>
              <td>Nivel do Mar</td>
              <td>{{l.main?.grnd_level | number:'1.0-0'}}m</td>
            </tr>
            <tr>
              <td>Humidade</td>
              <td> {{l.main?.humidity | number:'1.0-0'}}%</td>
            </tr>
            <tr>
              <td>Tempo</td>
              <td>
                <ul>
                  <li *ngFor='let w of l.weather'>
                    {{w?.main }}: {{w?.description }}
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Velocidade do Vento</td>
              <td>{{l.wind?.speed }}</td>
            </tr>
            <tr>
              <td>Direção do Vento</td>
              <td>{{l.wind?.deg }}<sup>o</sup></td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf='!resultFound()'>
    <h1 class="center">{{msg || 'Falha ao carergar cidade.'}}</h1>
  </div>