<app-top-bar></app-top-bar>
<div id='container'>
    <div *ngIf='!loc' id='search'>
        <h1>Entre com a Cidade para obter informação do Tempo/Previsão e Índice UV.</h1>
    </div>
    <mat-tab-group *ngIf='loc'>
        <mat-tab label="Hoje">
            <app-current-weather></app-current-weather>
        </mat-tab>
        <mat-tab label="Previsão">
            <app-forecast></app-forecast>
        </mat-tab>
        <mat-tab label="Índice UV">
            <app-uv></app-uv>
        </mat-tab>
    </mat-tab-group>
</div>