<mat-toolbar>

    <span id='title'>Weather App</span>

    <form (ngSubmit)='search(searchForm)' #searchForm='ngForm'>
      
      <mat-form-field class="form-field">
        
        <input matInput placeholder="Localidade" [(ngModel)]='loc' #lo='ngModel' name='lo' required type='text' autocomplete="off">
        
        <mat-error *ngIf="lo.invalid && (lo.dirty || lo.touched)">
          <span *ngIf='lo.errors.required'>
            Localização Obrigatória.
          </span>
        </mat-error>

      </mat-form-field>

      <button mat-button type='submit'>Procurar</button>
      
    </form>

  </mat-toolbar>