<h1 class="center" *ngIf='resultFound()'>Temperatura para {{currentWeather.name}}</h1>
<table *ngIf='resultFound()'>
  <tbody>
    <tr>
      <td>
        <h3>Tempreratura hoje:</h3>
      </td>
      <td>
        <h3>{{currentWeather.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Temp.Maxima:</h3>
      </td>
      <td>
        <h3>{{currentWeather.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Temp.Minima:</h3>
      </td>
      <td>
        <h3>{{currentWeather.main?.temp_min - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Tempo:</h3>
      </td>
      <td>
        <h3>{{currentWeather.clouds?.all}}%</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Humidade</h3>
      </td>
      <td>
        <h3>{{currentWeather.main?.humidity}}%</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Pressão</h3>
      </td>
      <td>
        <h3>{{currentWeather.main?.pressure}}mb</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Nascer do Sol</h3>
      </td>
      <td>
        <h3>{{currentWeather.sys?.sunrise*1000 | date :'dd/MM/yyyy H:mm:ss'}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Pôr do Sol</h3>
      </td>
      <td>
        <h3>{{currentWeather.sys?.sunset*1000 | date :'dd/MM/yyyy H:mm:ss'}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Visibilidade</h3>
      </td>
      <td>
        <h3>{{currentWeather.visibility}}</h3>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf='!resultFound()'>
  <h1 class="center">{{msg || 'Falha ao carregar a cidade.'}}</h1>
</div>